page-about {
  .main{
    height: calc(100vh - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #000;
    display: flex;
    flex-direction: column;
    .line{
      height: 3px;
      width: 129%;
      background: url("../assets/imgs/Line.svg");
      background-size: 78% 150%;
      filter: saturate(140%);
    }
    .notification{
      font-family: 'Open Sans';
      .item-md.item-block .item-inner, .item-ios.item-block .item-inner,.item-wp.item-block .item-inner{
        border: none;
      }
      .toggle-wp .toggle-inner{
        background-color: #ab00ab;
      }
      .toggle-md.toggle-checked .toggle-inner, .toggle-ios.toggle-checked .toggle-inner,.toggle-wp.toggle-checked .toggle-inner{
        background-color: #6c00ff;
        border-color: #ab00ab;
      }
      .item-md, .item-ios, .item-wp{
        color: #fff;
        background-color: transparent;
      }
      .toggle-md.toggle-checked .toggle-icon, .toggle-ios.toggle-checked .toggle-icon, .toggle-wp .toggle-checked .toggle-icon{
        background-color: #1b0040;
      }
      .toggle-md .toggle-icon, .toggle-ios .toggle-icon::before, .toggle-ios .toggle-icon, .toggle-wp .toggle-icon{
        background-color: #3b3b3b;
        border-color: #5e00e4;;
      }
      .label-ios,.label-md, .label-wp{
        margin: 2.2vh 0 2.2vh 0;
      }
      p{
        color: #fff;
        font-weight: 100;
      }
    }
    h2{
      text-align: center;
      margin: 0;
      color: #fff;
      font-size: 5vh;
      &:first-child{
        font-family: 'HaloHandletter';
        padding: 15px 0 20px;
      }
      &:last-child{
        margin: auto 0 16px;
        font-weight: 700;
      }
    }
  }
}
