ion-content{
  .main{
    background-color: #000;
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    text-align: center;
    .logo-container{
      img{
        margin-top: 6vh;
        height: 30vh;
      }
    }
    div{
      &:nth-child(2){
        margin-top: 6vh;
      }
      &:nth-child(3){
        img{
          margin-top: 2vh;
        }
      }
    }
    .buttons{
      img{
        height: 15vh;
      }
    }
    .rights{
      margin-top: auto;
      h4{
        font-size: 1.5vh;
        font-weight: 100;
        color: #fff;
      }
    }
  }
  .profile{
    justify-content: space-between;
    div{
      margin: auto 0 2vh;
      button{
        width: 80vw;
        border: 1px solid red;
        color: red;
      }
    }
    .user_data{
      color: #ffffff;
      font-size: 2vh;
      font-weight: 100;
      margin: 0.5vh 15px;
    }
    .user_img{
      height: 35vh;
      width: 35vh;
      border-radius: 50%;
      margin: auto;
    }
  }
}
