<!--
  Generated template for the LvlChangePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="container">
    <div class="container-modal">
      <img *ngIf="game_condition" class="game_result" src="assets/imgs/win.png"/>
      <img *ngIf="!game_condition" class="game_result" src="assets/imgs/lost.png"/>

      <img *ngIf="game_condition" class="game_result_btn" (click)="dismiss()" src="assets/imgs/next.png"/>
      <img *ngIf="!game_condition" class="game_result_btn" (click)="dismiss()" src="assets/imgs/againe.png"/>
    </div>
  </div>
</ion-content>
