page-lvl-change {
  background-color: transparent;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &-modal{
      background: url("../assets/imgs/background_2.svg") center no-repeat;
      background-size: 100% 100%;
      max-width: 390px;
      max-height: 378px;
      height: 100%;
      padding: 0 8%;
      @media (min-height: 800px) {
        height: 48%;
      }
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      font-family: 'Open Sans', cursive;

      .close{
        position: absolute;
        top: 5px;
        right: 20px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background: #ffff3d;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        background: -moz-linear-gradient(45deg, #ffff3d 16%, #ff2d1d 39%, #fa00b6 53%, #be00fc 68%, #7a00ff 78%);
        background: -webkit-linear-gradient(45deg, #ffff3d 16%,#ff2d1d 39%,#fa00b6 53%,#be00fc 68%,#7a00ff 78%);
        background: linear-gradient(45deg, #ffff3d 16%,#ff2d1d 39%,#fa00b6 53%,#be00fc 68%,#7a00ff 78%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff3d', endColorstr='#7a00ff',GradientType=1 );
      }

      .game_result{
        max-width: 229px;
        height: 57px;
        margin-top: 100px;
      }

      .game_result_btn{
        max-width: 260px;
        height: 40px;
        margin-top: auto;
        margin-bottom: 40px;
      }



    }
  }
}