<!--
  Generated template for the TimerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="container">
    <div class="container-modal">
      <div class="plus-icon" ></div>
      <h2>You will get a life<br>after {{timerM}}:{{timerS}} minutes</h2>
    </div>
  </div>
</ion-content>
