.content-md, .content-ios, .content-wp{
  background-color: rgba(0, 0, 0, 0.5);
}
page-timer {
  background-color: transparent;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &-modal{
      background: url("../assets/imgs/background_2.svg") center no-repeat;
      background-size: 100% 100%;
      width: 80%;
      max-height: 378px;
      height: 100%;
      padding: 8% 4%;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      @media (min-height: 800px){
        height: 48%;
      }
      .plus-icon{
        background: url("../assets/imgs/+.svg") center no-repeat;
        background-size: contain;
        margin-top: 8%;
        width: 70%;
        height: 55%;
      }
      h2{
        color: white;
        font-family: 'HaloHandletter';
        font-size: 25px;
        letter-spacing: 2px;
      }
    }
  }
}
