.settings{
  height: 100vh;
  background-color: #000;
  header{
    text-align: center;
    img{
      margin-top: 2vh;
      width: 35%;
    }
  }
  .main{
    .settings-container{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 10vh;
      &-item{
        &:first-child,&:last-child{
          transform: translateY(9vh);
        }
        img{
          width: 100%;
        }
      }
    }
    .play_btn{
      text-align: center;
      img{
        width: 50%;
      }
    }
  }
}
