<section class="settings">
  <header>
    <img src="assets/imgs/settings/LevelUp.svg" alt="Level Up">
  </header>
  <div class="main">
    <div class="settings-container">
      <div class="settings-container-item">
        <img src="assets/imgs/settings/heart.svg" alt="settings icons">
      </div>
      <div class="settings-container-item">
        <img src="assets/imgs/settings/no_adds.svg" alt="settings icons">
      </div>
      <div class="settings-container-item">
        <img src="assets/imgs/settings/home.svg" alt="settings icons">
      </div>
      <div class="settings-container-item">
        <img src="assets/imgs/settings/shop.svg" alt="settings icons">
      </div>
    </div>
    <div class="play_btn">
      <img src="assets/imgs/settings/Play.svg" alt="Play Button" (click)="goToGame()">
    </div>
  </div>
</section>

<section class="tabs-container">
  <div class="tabs-container-item" (click)="goToPage('About')">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 80 80">
      <path class="cls"
            d="M42.5,2a40,40,0,1,0,40,40,40,40,0,0,0-40-40ZM65.2,44.3C65.2,44.63,59,47,59,47l-1.14,2.72s2.81,5.89,2.57,6.13l-3.53,3.45c-.24.23-6.37-2.38-6.37-2.38l-2.78,1.12s-2.28,6.12-2.62,6.12h-5c-.34,0-2.79-6.09-2.79-6.09L34.53,57s-6,2.75-6.26,2.51L24.74,56c-.23-.23,2.43-6.24,2.43-6.24L26,47.07s-6.24-2.22-6.24-2.57V39.62c0-.32,6.23-2.72,6.23-2.72l1.19-2.71s-2.8-5.9-2.56-6.13l3.52-3.45c.24-.23,6.38,2.38,6.38,2.38l2.77-1.12s2.27-6.11,2.62-6.11h5c.34,0,2.79,6.1,2.79,6.1L50.48,27s6-2.75,6.26-2.51l3.53,3.45c.24.23-2.43,6.25-2.43,6.25L59,36.86s6.24,2.22,6.24,2.55Z"
            transform="translate(-2.5 -1.96)"/>
    </svg>
    <p>Setting</p>
  </div>
  <div class="tabs-container-item"(click)="goToPage('Login')">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 80 80">
      <path class="cls"
            d="M42.5,2a40,40,0,1,0,40,40A40,40,0,0,0,42.5,2Zm.7,79.4c-9.8,0-19-2.7-25.5-9,1.7-2.3,3.6-3.1,6-3.9,3.4-1.4,7-2.6,8.6-5.7,1.4-2.7,3.3-1.2,4.2.5.8-1.8.3-4.3-.1-6.3,0,0-5.7-5.7-6.3-10.5,0,0-2.3,1.2-2.7-3v-1.3a1.39,1.39,0,0,1-1.1-1.7h-.1a2.32,2.32,0,0,1-1.5-1.4,2.85,2.85,0,0,1-.2-1.6,3.81,3.81,0,0,1-1.2-4.3l-.3-.3h-.2a1.53,1.53,0,0,1,.1-2.1,3.83,3.83,0,0,1,1.3-4,2.44,2.44,0,0,1,0-1.2,1.32,1.32,0,0,1,1-.9,2,2,0,0,1-.4-1.5,2.09,2.09,0,0,1,.8-1.6,2.72,2.72,0,0,1,1.7-.6,2.35,2.35,0,0,1,.8.2A2.72,2.72,0,0,1,30.7,18a.75.75,0,0,1,.5.1c.1-.2.1-.3.2-.5a1.88,1.88,0,0,1,1.7-.8h.2a2.17,2.17,0,0,1,2.1-2.4,1.65,1.65,0,0,1,1.5.8c.1-.1.2-.3.3-.4a1.82,1.82,0,0,1,1.4-1.4,1.18,1.18,0,0,1,1,.1l.6.3a1.91,1.91,0,0,1,1.7-1.1,1.61,1.61,0,0,1,1.4.7,1.75,1.75,0,0,1,1.2-.4,1.69,1.69,0,0,1,1.4.9,2.66,2.66,0,0,1,1.2-.3,2.12,2.12,0,0,1,1.9,1.7,1.92,1.92,0,0,1,3.1,1.5,1.7,1.7,0,0,1,.7-.1,1.9,1.9,0,0,1,1.5.8h0a2.38,2.38,0,0,1,.5,1.8.37.37,0,0,1,.1.3,2.06,2.06,0,0,1,2-.3,2.16,2.16,0,0,1,1.2,1.1,2,2,0,0,1,.3,1.5,3.94,3.94,0,0,1,2.5,1.4,4.63,4.63,0,0,1,1.1,3.2,3.87,3.87,0,0,1-.8,2.1c2,.3,2.2,2.9.9,4.1,1.8.8,1.9,3.4.5,4.8a2.57,2.57,0,0,1-.1,1.5,3.68,3.68,0,0,1-2.2,2.2,3.19,3.19,0,0,1-2.2,2.3c-.4,4.2-2.6,2.9-2.6,2.9-.5,4.8-6.3,10.5-6.3,10.5-.4,2.4-.9,4.8-.1,6.4.9-1.7,2.8-3.4,4.3-.6,1.6,3.1,5.3,4.3,8.6,5.7,2.3.7,3.1,1.6,4.8,3.8C60.6,78.66,53.1,81.36,43.2,81.36Z"
            transform="translate(-2.5 -1.96)"/>
    </svg>
    <p>Profile</p>
  </div>
  <div class="tabs-container-item active" (click)="goToPage('Home')">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 80 80">
      <path class="cls" d="M42.5,2a40,40,0,1,0,40,40A40,40,0,0,0,42.5,2Zm21,42.54L31.8,62.78a2.93,2.93,0,0,1-4.4-2.54V23.67a2.93,2.93,0,0,1,4.4-2.54L63.47,39.42A2.93,2.93,0,0,1,63.47,44.5Z" transform="translate(-2.5 -1.96)"/>
    </svg>
    <p>Game</p>
  </div>
</section>
