.content-md, .content-ios, .content-wp{
  background-color: rgba(0, 0, 0, 0.5);
}
page-shop-modal {
  background-color: transparent;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &-modal{
      background: url("../assets/imgs/background_2.svg") center no-repeat;
      background-size: 100% 100%;
      max-width: 390px;
      max-height: 378px;
      height: 100%;
      padding: 0 8%;
      @media (min-height: 800px){
        height: 48%;
      }
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      font-family: 'Open Sans', cursive;

      .close{
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background: #ffff3d;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        background: -moz-linear-gradient(45deg, #ffff3d 16%, #ff2d1d 39%, #fa00b6 53%, #be00fc 68%, #7a00ff 78%);
        background: -webkit-linear-gradient(45deg, #ffff3d 16%,#ff2d1d 39%,#fa00b6 53%,#be00fc 68%,#7a00ff 78%);
        background: linear-gradient(45deg, #ffff3d 16%,#ff2d1d 39%,#fa00b6 53%,#be00fc 68%,#7a00ff 78%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff3d', endColorstr='#7a00ff',GradientType=1 );
      }

      h2{
        flex: 100%;
        color: #fff;
        font-size: 36px;
        line-height: 1;
        margin-bottom: -3vh;
        font-family: 'HaloHandletter';
      }
      &-items{
        font-weight: bold;
        color: #fff;
        width: 48%;
        height: 34%;
        background: url("../assets/imgs/background3.svg") center no-repeat;
        background-size: contain;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .dollar{
          height: 45%;
          width: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 46%;
        }
        .dollar-bg{
          &-1{
            background-image: url("../assets/imgs/$.svg");
          }
          &-2{
            background-image: url("../assets/imgs/$$.svg");
          }
          &-3{
            background-image: url("../assets/imgs/$$$.svg");
          }
          &-4{
            background-image: url("../assets/imgs/$$$$$.svg");
          }
        }
        p{
          font-size: 19px;
          margin: 0;
          line-height: 0;
          letter-spacing: 1px;
        }
        .price-bg{
          width: 100%;
          height: 17%;
          background: url("../assets/imgs/Buttons.svg") center no-repeat;
          background-size: contain;
          margin-bottom: 3%;
        }
      }
    }
  }
}
