<!--
  Generated template for the ShopModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="container">
    <div class="container-modal">
      <div class="close" (click)="dismiss()">X</div>
      <h2>Shop</h2>

      <div class="container-modal-items">
        <div class="dollar dollar-bg-1"></div>
        <p>+200</p>
        <div class="price-bg">$6.5</div>
      </div>

      <div class="container-modal-items">
        <div class="dollar dollar-bg-2"></div>
        <p>+600</p>
        <div class="price-bg">$12</div>
      </div>

      <div class="container-modal-items">
        <div class="dollar dollar-bg-3"></div>
        <p>+1000</p>
        <div class="price-bg">$12</div>
      </div>

      <div class="container-modal-items">
        <div class="dollar dollar-bg-4"></div>
        <p>+1500</p>
        <div class="price-bg">$12</div>
      </div>

    </div>
  </div>

</ion-content>
