// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../assets/fonts/fonts";

//
//
// FONTS
//
//


@font-face {
  font-family: 'HaloHandletter';
  src: url('../assets/fonts/HaloHandletter.eot');
  src: url('../assets/fonts/HaloHandletter.eot?#iefix') format("embedded-opentype"),
  url('../assets/fonts/HaloHandletter.woff2') format("woff2"),
  url('../assets/fonts/HaloHandletter.woff') format("woff"),
  url('../assets/fonts/HaloHandletter.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}


//
//
// FONTS
//
//

.loading-wrapper{
  background-color: transparent !important;
  max-width: 100% !important;
  padding: 0 !important;
  position: relative;
}

//temp loader
.loading-custom-spinner-container{
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  .box{
    img{
      animation: spinner 750ms infinite;
      width: 40vw;
    }
  }
}

//Tabs Design
.tabs-container{
  position: absolute;
  z-index: 900;
  background-color: #000;
  border-top: 1px solid #8c8c8c75;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  &-item{
    height: 56px;
    width: 25%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;

    p{
      margin: 0;
      color: #fff;
      font-weight: 100;
      margin-top: 3px;
      font-size: 12px;
    }

    svg{
      height: 50%;
      path{
        transition: all 300ms linear;
        fill: transparent;
        stroke: #fff;
        stroke-width: 2px;
      }
    }
  }
}
.active{
  svg{
    transform: scale(1.1);
    path{
      transition: all 300ms linear;
      fill: url(#linear-gradient);
      stroke: transparent;
      stroke-width: 0;
    }
  }
}
//End Tabs Design

@keyframes spinner {
  to {
     transform: rotate(360deg);
  }
}
