<ion-nav [root]="rootPage"></ion-nav>
<svg style="visibility: hidden;">
  <defs>
    <linearGradient id="linear-gradient" x1="17.72" y1="238.04" x2="74.28" y2="294.62"
                    gradientTransform="matrix(1, 0, 0, -1, -3.5, 308.29)" gradientUnits="userSpaceOnUse">
      <stop offset="0.03" stop-color="#f6ec49"/>
      <stop offset="0.3" stop-color="#ec2528"/>
      <stop offset="0.53" stop-color="#cb4c9b"/>
      <stop offset="0.78" stop-color="#8d53a1"/>
      <stop offset="1" stop-color="#6254a4"/>
    </linearGradient>
  </defs>
</svg>
