page-game {
  ion-content{
    font-family: 'HaloHandletter';
    .bottom-content{
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      canvas{
        width: 100vw;
        height: calc(100vh - 56px);
      }
    }
    .top-content{
      color: white;
      background: url('../assets/imgs/bg-2.svg') center no-repeat;
      background-size: cover;
      background-position-y: 100%;
      width: 100%;
      height: calc(100vh - 56px);
      position: relative;
      z-index: 2;
      padding: 15px 5px;
      .right {
        height: 50vh;
      }
      .left {
        height: 50vh;
      }
      .game-info{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 4vh;
        .flex-item{
          flex: 1;
        }
        &-data{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 2vh 0 0;
          .oval{
            width: 30%;
            height:0;
            padding-bottom: 27%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            border: 1px solid #fff;
            margin-left: 65%;
          }
          .shop{
            background: url("../assets/imgs/$.svg") center no-repeat;
            background-size: 140%;
          }
          .points{
            position: relative;
            p{
              position: absolute;
              top:0;
              bottom: 0;
              right: 0;
              left: 0;
              margin: auto;
              height: 50%;
              width: 90%;
              text-align: center;
              font-size: 100%;
            }
          }
          .extras{
            background: url("../assets/imgs/extra.svg") center no-repeat;
            background-size: 158%;
          }
          .live{
            width: 100%;
            .heart{
              display: flex;
              flex-direction: row-reverse;
              img{
                height: 4vh;
              }
            }
          }
        }
        &-time{
          position: relative;
          .timer{
            height: 80%;
            width: 80%;
            margin: 10% auto;
            position: relative;
            background: url('../assets/imgs/watch_face.png') left no-repeat;
            background-size: 69%;

            // fill animation
            .wrapper {
              position: absolute;
              background: #000;
              border-radius: 50%;
              left: 0;
              right: 29%;
              top: 37%;
              margin: auto;
              overflow: hidden;
              z-index: 1;
            }

            @mixin timer($item, $duration, $size, $hover: running) {
              #{$item}, #{$item}

              #{$item} {
                width: $size;
                height: $size;
              }

              #{$item} .pie {
                width: 50%;
                height: 100%;
                transform-origin: 100% 50%;
                position: absolute;
                background: rgb(246,0,79);
                background: -moz-linear-gradient(top, rgba(246,0,79,1) 10%, rgba(190,15,159,1) 94%);
                background: -webkit-linear-gradient(top, rgba(246,0,79,1) 10%,rgba(190,15,159,1) 94%);
                background: linear-gradient(to bottom, rgba(246,0,79,1) 10%,rgba(190,15,159,1) 94%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6004f', endColorstr='#be0f9f',GradientType=0 );
                background-size: cover;
              }

              //#{$item} .color {
              //  background: rgb(190,15,159);
              //  background: -moz-linear-gradient(top, rgba(190,15,159,1) 10%, rgba(246,0,79,1) 94%);
              //  background: -webkit-linear-gradient(top, rgba(190,15,159,1) 10%,rgba(246,0,79,1) 94%);
              //  background: linear-gradient(to bottom, rgba(190,15,159,1) 10%,rgba(246,0,79,1) 94%);
              //  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be0f9f', endColorstr='#f6004f',GradientType=0 );
              //}

              #{$item} .spinner {
                border-radius: 100% 0 0 100% / 50% 0 0 50%;
                z-index: 200;
                border-right: none;
              }

              #{$item}:hover .spinner,
              #{$item}:hover .filler,
              #{$item}:hover .mask {
                animation-play-state: $hover;
              }

              #{$item} .filler {
                border-radius: 0 100% 100% 0 / 0 50% 50% 0;
                left: 49%;
                opacity: 0;
                z-index: 100;
                border-left: none;
              }

              #{$item} .mask {
                width: 50%;
                height: 100%;
                position: absolute;
                background: inherit;
                opacity: 1;
                z-index: 300;
              }

              @keyframes rota {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
              }

              @keyframes opa {
                0% { opacity: 1; }
                50%, 100% { opacity: 0; }
              }
            }

            @include timer('.wrapper', 0, 5vh);

            // End fill animation

            span{
              position: absolute;
              background: url('../assets/imgs/watch-indicator.png') center no-repeat;
              background-size: cover;
              z-index: 400;
              height: 37%;
              left: 0;
              right: 32%;
              top: 21%;
              -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
              width: 5.5%;
              margin: auto;
            }
          }

          @keyframes rotate {
            100% {
              transform: rotateZ(360deg);
            }
          }
        }
        &-lvl{
          text-align: center;
          display: flex;
          flex-direction: column;
          .lvl_num{
            height: 5vh;
          }
          .lvl_icon{
            height: 10vh;
          }
        }

      }
      .count {
        width: 42%;
        padding: 0 6% 1vh;
        text-align: left;
        span{
          font-size: 3.5vh;
        }
      }
      .num_items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.66);
        border-radius: 15px;
        box-shadow: 0px 0px 5px 2px #ff005f61;
        overflow: hidden;
        &:nth-child(1){
          margin-right: 5vh;
        }
        &:nth-child(2){
          margin-left: 5vh;
        }
        .divsleft, .divsright {
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          flex: 1;
          display: inline-block;
          text-align: center;
          font-size: 0;
          opacity: 0;
          transform: scale(0);
          img{
            width: 50px;
          }
        }
      }
      .parkik-container{
        display: flex;
        flex: 100%;
        justify-content: center;
        position: relative;
        text-align: center;
        div{
          width: 10vh;
          height: 10vh;
          margin: -2vh 0 0;
          padding: 1vh 1vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.76);
          border-radius: 100%;
          font-size: 5vh;
          position: relative;
          z-index: 100;
        }
        span{
          position: absolute;
          left:0;
          right:0;
          top: -7vh;
          margin: auto;
          width: 4vh;
          font-size: 4vh;
          display: inline-block;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.72);
          opacity: 0;
          transform: scale(0);
        }
      }
      .default_style {
        background: #c0c0c0 !important;
      }
      .loading-wrapper {
        background: red !important;
        color: red !important;
      }
      .loading-wrapper {
        ion-backdrop {
          top: 50%;
          height: 70%;
        }
      }
      .numbers {
        color: #090909;
        position: relative;
      }
      .data {
        position: relative;
        display: inline-block;
        left: -17px;
      }
      .data span {
        margin-left: 20px;
      }
      .rightSum {
        border: 1px solid #c0c0c0;
        float: right;
        cursor: pointer;

      }
      .leftSum {
        border: 1px solid #c0c0c0;
        float: left;
        cursor: pointer;

      }
      .leftSum div, .rightSum div {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
      }
      .timers {
        position: relative;
        text-align: center;
        font-size: 45px;
        margin: 10% auto;
        vertical-align: middle;
      }
    }
  }
}
